# Goal

### *Is to create a recommendation system that can take an input (crop, PH level) and then output locations, ph level and PH RANGE*

In [2]:
#import all needed python libraries

import pandas as pd
#import pandas_profiling

There are two .xlsx files. We have to read them seperately.

In [3]:
#Because we imported pandas as pd, read_excel helps us read the dataset that has the .xlsx extension

location = pd.read_excel('Location.xlsx') 
location.head(2)

  Location  Texture   ph
0      Ado        3  6.5
1    Agatu        9  5.2

In [4]:
crop = pd.read_excel('Crop.xlsx') 
crop.head(2)

       Crop  Texture PH RANGE
0  Potatoes        3  6.0-6.5
1      Rice        9  4.0-8.0

*Both datasets have a common column **Texture** which we can use to merge both dataset as it is prominent if we want a full dataset.*

In [5]:
df = pd.merge(location, crop, on='Texture') 
df.head()

    Location  Texture   ph      Crop PH RANGE
0        Ado        3  6.5  Potatoes  6.0-6.5
1        Ado        3  6.5  Tomatoes   5.5-75
2  Gwer West        3  6.8  Potatoes  6.0-6.5
3  Gwer West        3  6.8  Tomatoes   5.5-75
4       Ukum        3  7.4  Potatoes  6.0-6.5

In [6]:
#lets get the statistical values of our dataset

df.describe()

         Texture         ph
count  54.000000  54.000000
mean    5.296296   5.988889
std     2.994521   1.322043
min     1.000000   4.100000
25%     2.250000   4.600000
50%     7.000000   5.800000
75%     7.000000   7.400000
max    11.000000   7.900000

In [7]:
#since we have merged both dataset, make a dataframe, groupby and find the mean

df1 = pd.DataFrame(df.groupby(['Crop', 'Location', 'ph'])['Texture'].mean()) 
df1.head()

                       Texture
Crop    Location  ph
Beans   Logo      7.4      8.0
        Oju       5.7      8.0
Cassava Gwer East 4.3      1.0
        Ogbadibo  7.3      1.0
        Ohimini   4.6      1.0

We need to now make the **crop** column our index column as we will use crop as a based to our chat

In [27]:
crop_matrix = pd.pivot_table(df, index=['Crop'],  columns=['Crop','Location','ph','PH RANGE'], values='Texture')
crop_matrix.head(10)

Crop       Beans           Cassava                           Citrus  \
Location    Logo     Oju Gwer East Ogbadibo Ohimini   Tarka     Apa
ph           7.4     5.7       4.3      7.3     4.6     7.5     7.6
PH RANGE 6.0-7.0 6.0-7.0   4.5-6.5  4.5-6.5 4.5-6.5 4.5-6.5 6.9-7.5
Crop
Beans        8.0     8.0       NaN      NaN     NaN     NaN     NaN
Cassava      NaN     NaN       1.0      1.0     1.0     1.0     NaN
Citrus       NaN     NaN       NaN      NaN     NaN     NaN     7.0
G/Nut        NaN     NaN       NaN      NaN     NaN     NaN     NaN
Maize        NaN     NaN       NaN      NaN     NaN     NaN     NaN
Mangoes      NaN     NaN       NaN      NaN     NaN     NaN     NaN
Millet       NaN     NaN       NaN      NaN     NaN     NaN     NaN
Okro         NaN     NaN       NaN      NaN     NaN     NaN     NaN
Pepper       NaN     NaN       NaN      NaN     NaN     NaN     NaN
Potatoes     NaN     NaN       NaN      NaN     NaN     NaN     NaN

Crop                                    ...     Spinach                    \
Location Katsina-Ala Konshisha  Kwande  ... Katsina-Ala Konshisha  Kwande
ph               4.5       7.5     5.8  ...         4.5       7.5     5.8
PH RANGE     6.9-7.5   6.9-7.5 6.9-7.5  ...     4.5-6.5   4.5-6.5 4.5-6.5
Crop                                    ...
Beans            NaN       NaN     NaN  ...         NaN       NaN     NaN
Cassava          NaN       NaN     NaN  ...         NaN       NaN     NaN
Citrus           7.0       7.0     7.0  ...         NaN       NaN     NaN
G/Nut            NaN       NaN     NaN  ...         NaN       NaN     NaN
Maize            NaN       NaN     NaN  ...         NaN       NaN     NaN
Mangoes          NaN       NaN     NaN  ...         NaN       NaN     NaN
Millet           NaN       NaN     NaN  ...         NaN       NaN     NaN
Okro             NaN       NaN     NaN  ...         NaN       NaN     NaN
Pepper           NaN       NaN     NaN  ...         NaN       NaN     NaN
Potatoes         NaN       NaN     NaN  ...         NaN       NaN     NaN

Crop                       Tomatoes                      Yam
Location Ushongo Vandeikya      Ado Gwer West   Ukum    Guma  Otukpo
ph           4.6       5.4      6.5       6.8    7.4     4.1     7.9
PH RANGE 4.5-6.5   4.5-6.5   5.5-75    5.5-75 5.5-75 5.5-6.5 5.5-6.5
Crop
Beans        NaN       NaN      NaN       NaN    NaN     NaN     NaN
Cassava      NaN       NaN      NaN       NaN    NaN     NaN     NaN
Citrus       NaN       NaN      NaN       NaN    NaN     NaN     NaN
G/Nut        NaN       NaN      NaN       NaN    NaN     NaN     NaN
Maize        NaN       NaN      NaN       NaN    NaN     NaN     NaN
Mangoes      NaN       NaN      NaN       NaN    NaN     NaN     NaN
Millet       NaN       NaN      NaN       NaN    NaN     NaN     NaN
Okro         NaN       NaN      NaN       NaN    NaN     NaN     NaN
Pepper       NaN       NaN      NaN       NaN    NaN     NaN     NaN
Potatoes     NaN       NaN      NaN       NaN    NaN     NaN     NaN

[10 rows x 54 columns]

In [28]:
#lets sort values based on crop

df1.sort_values('Crop', ascending=False).head(10)

                          Texture
Crop     Location    ph
Yam      Otukpo      7.9      2.0
         Guma        4.1      2.0
Tomatoes Ukum        7.4      3.0
         Gwer West   6.8      3.0
         Ado         6.5      3.0
Spinach  Vandeikya   5.4      7.0
         Ushongo     4.6      7.0
         Kwande      5.8      7.0
         Konshisha   7.5      7.0
         Katsina-Ala 4.5      7.0

We have used the *pivot table* to make the crop column the index and now, let us use the python correlation function to get similar crops based on correlation using **pearson method**

In [29]:
similar_df = crop_matrix.corr(method='pearson')
similar_df.head()

Crop                             Beans           Cassava                   \
Location                          Logo     Oju Gwer East Ogbadibo Ohimini
ph                                 7.4     5.7       4.3      7.3     4.6
PH RANGE                       6.0-7.0 6.0-7.0   4.5-6.5  4.5-6.5 4.5-6.5
Crop    Location  ph  PH RANGE
Beans   Logo      7.4 6.0-7.0      NaN     NaN       NaN      NaN     NaN
        Oju       5.7 6.0-7.0      NaN     NaN       NaN      NaN     NaN
Cassava Gwer East 4.3 4.5-6.5      NaN     NaN       NaN      NaN     NaN
        Ogbadibo  7.3 4.5-6.5      NaN     NaN       NaN      NaN     NaN
        Ohimini   4.6 4.5-6.5      NaN     NaN       NaN      NaN     NaN

Crop                                    Citrus                                \
Location                         Tarka     Apa Katsina-Ala Konshisha  Kwande
ph                                 7.5     7.6         4.5       7.5     5.8
PH RANGE                       4.5-6.5 6.9-7.5     6.9-7.5   6.9-7.5 6.9-7.5
Crop    Location  ph  PH RANGE
Beans   Logo      7.4 6.0-7.0      NaN     NaN         NaN       NaN     NaN
        Oju       5.7 6.0-7.0      NaN     NaN         NaN       NaN     NaN
Cassava Gwer East 4.3 4.5-6.5      NaN     NaN         NaN       NaN     NaN
        Ogbadibo  7.3 4.5-6.5      NaN     NaN         NaN       NaN     NaN
        Ohimini   4.6 4.5-6.5      NaN     NaN         NaN       NaN     NaN

Crop                            ...     Spinach                            \
Location                        ... Katsina-Ala Konshisha  Kwande Ushongo
ph                              ...         4.5       7.5     5.8     4.6
PH RANGE                        ...     4.5-6.5   4.5-6.5 4.5-6.5 4.5-6.5
Crop    Location  ph  PH RANGE  ...
Beans   Logo      7.4 6.0-7.0   ...         NaN       NaN     NaN     NaN
        Oju       5.7 6.0-7.0   ...         NaN       NaN     NaN     NaN
Cassava Gwer East 4.3 4.5-6.5   ...         NaN       NaN     NaN     NaN
        Ogbadibo  7.3 4.5-6.5   ...         NaN       NaN     NaN     NaN
        Ohimini   4.6 4.5-6.5   ...         NaN       NaN     NaN     NaN

Crop                                     Tomatoes                      Yam  \
Location                       Vandeikya      Ado Gwer West   Ukum    Guma
ph                                   5.4      6.5       6.8    7.4     4.1
PH RANGE                         4.5-6.5   5.5-75    5.5-75 5.5-75 5.5-6.5
Crop    Location  ph  PH RANGE
Beans   Logo      7.4 6.0-7.0        NaN      NaN       NaN    NaN     NaN
        Oju       5.7 6.0-7.0        NaN      NaN       NaN    NaN     NaN
Cassava Gwer East 4.3 4.5-6.5        NaN      NaN       NaN    NaN     NaN
        Ogbadibo  7.3 4.5-6.5        NaN      NaN       NaN    NaN     NaN
        Ohimini   4.6 4.5-6.5        NaN      NaN       NaN    NaN     NaN

Crop
Location                        Otukpo
ph                                 7.9
PH RANGE                       5.5-6.5
Crop    Location  ph  PH RANGE
Beans   Logo      7.4 6.0-7.0      NaN
        Oju       5.7 6.0-7.0      NaN
Cassava Gwer East 4.3 4.5-6.5      NaN
        Ogbadibo  7.3 4.5-6.5      NaN
        Ohimini   4.6 4.5-6.5      NaN

[5 rows x 54 columns]

Lets write a function that takes two argument and then, sort the output using location.

In [30]:
def get_similar_texture(one,crop_matrix):
    similar_ph = similar_df[one]*(crop_matrix )
    similar_ph = similar_ph.sort_values(by='Location',ascending = False)

    return similar_ph

We have to create an *Array* that takes two values, a dataframe that will receive the values for further output after we might have used a *for loop* to check the both values in our array.

In [34]:
check = [["Spinach", 7.0]] 
similar_texture = pd.DataFrame() #this is an empty dataframe
for crop,ph_level in check: #using the for conditional statement, we are checking for two values from the check array
    similar_texture = similar_texture.append(get_similar_texture(crop,ph_level), ignore_index=True) #since similar_texture is an empty dataframe, we are using the append funtion to get values from our def and also input those values of our array in it

similar_texture.head()
similar_texture.sum().sort_values(ascending=False)

Location     ph   PH RANGE
Apa          7.6  4.5-6.5     0.0
Katsina-Ala  4.5  4.5-6.5     0.0
Konshisha    7.5  4.5-6.5     0.0
Kwande       5.8  4.5-6.5     0.0
Ushongo      4.6  4.5-6.5     0.0
Vandeikya    5.4  4.5-6.5     0.0
dtype: float64