# Goal

### *Is to create a recommendation system that can take an input (crop, PH level) and then output locations and texture of that soil and also, recommend other crops that can grow on that same location*

In [2]:
#import all needed python libraries

import pandas as pd
#import pandas_profiling

There are two .xlsx files. We have to read them seperately.

In [3]:
#Because we imported pandas as pd, read_excel helps us read the dataset that has the .xlsx extension

location = pd.read_excel('Location.xlsx') 
location.head(2)

  Location  Texture   ph
0      Ado        3  6.5
1    Agatu        9  5.2

In [4]:
crop = pd.read_excel('Crop.xlsx') 
crop.head(2)

       Crop  Texture PH RANGE
0  Potatoes        3  6.0-6.5
1      Rice        9  4.0-8.0

*Both datasets have a common column **Texture** which we can use to merge both dataset as it is prominent if we want a full dataset.*

In [5]:
df = pd.merge(location, crop, on='Texture') 
df.head()

    Location  Texture   ph      Crop PH RANGE
0        Ado        3  6.5  Potatoes  6.0-6.5
1        Ado        3  6.5  Tomatoes   5.5-75
2  Gwer West        3  6.8  Potatoes  6.0-6.5
3  Gwer West        3  6.8  Tomatoes   5.5-75
4       Ukum        3  7.4  Potatoes  6.0-6.5

In [6]:
#lets get the statistical values of our dataset

df.describe()

         Texture         ph
count  54.000000  54.000000
mean    5.296296   5.988889
std     2.994521   1.322043
min     1.000000   4.100000
25%     2.250000   4.600000
50%     7.000000   5.800000
75%     7.000000   7.400000
max    11.000000   7.900000

In [7]:
#since we have merged both dataset, make a dataframe, groupby and find the mean

df1 = pd.DataFrame(df.groupby(['Crop', 'Location', 'ph'])['Texture'].mean()) 
df1.head()

                       Texture
Crop    Location  ph
Beans   Logo      7.4      8.0
        Oju       5.7      8.0
Cassava Gwer East 4.3      1.0
        Ogbadibo  7.3      1.0
        Ohimini   4.6      1.0

We need to now make the **crop** column our index column as we will use crop as a based to our chat

In [9]:
crop_matrix = pd.pivot_table(df, index=['Crop'],  columns=['Crop', 'Location','Texture',], values='ph')
crop_matrix.head(10)

Location,Ado,Agatu,Apa,Buruku,Gboko,Guma,Gwer East,Gwer West,Katsina-Ala,Konshisha,...,Obi,Ogbadibo,Ohimini,Oju,Okpokwu,Otukpo,Tarka,Ukum,Ushongo,Vandeikya
Texture,3,9,7,10,11,2,1,3,7,7,...,6,1,1,8,11,2,1,3,7,7
Crop,,,,,,,,,,,,,,,,,,,,,
Beans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
Cassava,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,...,NaN,7.3,4.6,NaN,NaN,NaN,7.5,NaN,NaN,NaN
Citrus,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,4.5,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,5.4
G/Nut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Maize,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,...,NaN,7.3,4.6,NaN,NaN,NaN,7.5,NaN,NaN,NaN
Mangoes,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,4.5,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,5.4
Millet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
Okro,NaN,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,...,NaN,7.3,4.6,NaN,NaN,NaN,7.5,NaN,NaN,NaN
Pepper,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,4.5,7.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.6,5.4
Potatoes,6.5,NaN,NaN,NaN,NaN,NaN,NaN,6.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.4,NaN,NaN

In [10]:
#lets sort values based on crop

df1.sort_values('Crop', ascending=False).head(10)

                          Texture
Crop     Location    ph
Yam      Otukpo      7.9      2.0
         Guma        4.1      2.0
Tomatoes Ukum        7.4      3.0
         Gwer West   6.8      3.0
         Ado         6.5      3.0
Spinach  Vandeikya   5.4      7.0
         Ushongo     4.6      7.0
         Kwande      5.8      7.0
         Konshisha   7.5      7.0
         Katsina-Ala 4.5      7.0

We have used the *pivot table* to make the crop column the index and now, let us use the python correlation function to get similar crops based on correlation using **pearson method**

In [11]:
similar_df = crop_matrix.corr(method='pearson')
similar_df.head()

,Location,Ado,Agatu,Apa,Buruku,Gboko,Guma,Gwer East,Gwer West,Katsina-Ala,Konshisha,...,Obi,Ogbadibo,Ohimini,Oju,Okpokwu,Otukpo,Tarka,Ukum,Ushongo,Vandeikya
,Texture,3,9,7,10,11,2,1,3,7,7,...,6,1,1,8,11,2,1,3,7,7
Location,Texture,,,,,,,,,,,,,,,,,,,,,
Ado,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Agatu,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Apa,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buruku,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gboko,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Lets write a function that takes two argument and then, sort the output using location.

In [16]:
def get_similar_texture(one,crop_matrix):
    similar_ph = similar_df[one]*(crop_matrix )
    similar_ph = similar_ph.sort_values(by='Location',ascending = False)

    return similar_ph

We have to create an *Array* that takes two values, a dataframe that will receive the values for further output after we might have used a *for loop* to check the both values in our array.

In [21]:
check = [["Yam", 7.9]] 
similar_texture = pd.DataFrame() #this is an empty dataframe
for crop,ph_level in check: #using the for conditional statement, we are checking for two values from the check array
    similar_texture = similar_texture.append(get_similar_texture(crop,ph_level), ignore_index=True) #since similar_texture is an empty dataframe, we are using the append funtion to get values from our def and also input those values of our array in it

similar_texture.head()
similar_texture.sum().sort_values(ascending=False)

KeyError: 'Yam'